@font-face {
  font-family: "iconfont"; /* Project id 1938936 */
  src: url('../assets/fonts/iconfont.woff2?t=1663934099577') format('woff2'),
       url('../assets/fonts/iconfont.woff?t=1663934099577') format('woff'),
       url('../assets/fonts/iconfont.ttf?t=1663934099577') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duanxin:before {
  content: "\ec03";
}

.icon-fenxiang:before {
  content: "\ec04";
}

.icon-saoma:before {
  content: "\e80f";
}

.icon-zhifu:before {
  content: "\e810";
}

.icon-jilu:before {
  content: "\e811";
}

.icon-renzheng:before {
  content: "\e812";
}

.icon-goumai:before {
  content: "\e813";
}

.icon-zhishi:before {
  content: "\e814";
}

.icon-tixing:before {
  content: "\e815";
}

.icon-shuoming:before {
  content: "\e816";
}

.icon-bianji:before {
  content: "\e817";
}

.icon-linggan:before {
  content: "\e818";
}

.icon-tongzhi:before {
  content: "\e819";
}

.icon-shanchu:before {
  content: "\e81a";
}

.icon-lishi:before {
  content: "\e81b";
}

.icon-saomiao:before {
  content: "\e81c";
}

.icon-liulan:before {
  content: "\e81d";
}

.icon-xiangji:before {
  content: "\e81e";
}

.icon-shouye2:before {
  content: "\e81f";
}

.icon-wode1:before {
  content: "\e820";
}

.icon-xihuan:before {
  content: "\e821";
}

.icon-dingwei:before {
  content: "\e822";
}

.icon-sousuo1:before {
  content: "\e618";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-shouye:before {
  content: "\e61c";
}

.icon-wode:before {
  content: "\e630";
}

.icon-shouye1:before {
  content: "\e656";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-gouwuche:before {
  content: "\e628";
}

.icon-icon:before {
  content: "\e652";
}

.icon-yonghu:before {
  content: "\e63d";
}

.icon-yanzheng:before {
  content: "\e63e";
}

.icon-list:before {
  content: "\e637";
}

.icon-zhifu-01:before {
  content: "\e61b";
}

.icon-denglu:before {
  content: "\e66b";
}

.icon-fankui:before {
  content: "\e600";
}

.icon-shopping:before {
  content: "\e7cf";
}

.icon-sousuo:before {
  content: "\e627";
}

.icon-shangcheng:before {
  content: "\e604";
}

.icon-dingdan-:before {
  content: "\e638";
}

.icon-icon_jishiben-:before {
  content: "\e640";
}

.icon-shijian:before {
  content: "\e607";
}

